@model List<Message>
@{
    ViewData["Title"] = "Pigeon Registry";
}

<h1>Pigeon Messages</h1>
<p>
    Members can send messages to other members.
</p>
<p>
<a href="Message/ForumPost">Enter a new message</a>
</p>
<h2>Filter Messages</h2>
<form method="post">
    <label>Recipient (a user name)</label>
    <input name="toname"/>
    <input type="submit" />
</form>

<h2>Message Board</h2>
Messages to and from members.
@if (Model != null)
{
    foreach (var message in Model)
    {
       if (message.OriginalMessageId == null) 
        {
            <p>
                <h3>Messages</h3>
                From: @message.From.Name <br>
                To: @message.To.Name <br>
                Message: @message.Text <br>
                Date: @message.Date<br>
                Rating: @message.Rating<br>
                <a href="/Message/Reply?OriginalMessageId=@message.MessageId">Reply</a><br>
                <a href="/Message/DeleteForumPost?messageId=@message.MessageId">Delete Message</a>
            </p>
        }
        @* If the message has a reply (or replies), show it (them) here *@
        @if(message.Replies.Count != 0) 
        {
            <h4>Replies</h4>
            @foreach(Message reply in message.Replies)
            {
                <p>
                    From: @reply.From.Name <br>
                    To: @reply.To.Name <br>
                    Message: @reply.Text <br>
                    Date: @reply.Date<br>
                    <a href="/Message/DeleteForumPost?messageId=@reply.MessageId">Delete Message</a>
                </p>
            }
        }
    }
}
